/* Resetting default margin, padding, and font-family */
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Styling for the body */
body {
    background: #ecf4fb;
}

/* Styling for the image gallery */
.image-gallery {
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

/* Styling for images within the image gallery */
.image-gallery img {
    border: 3px solid black;
    margin: 5px;
    width: 100%;
    cursor: pointer;
}

/* Styling for image hover effect */
.image-gallery img:hover {
    transform: scale(0.8) rotate(-20deg);
    border-radius: 20px;
    box-shadow: 0 32px 75px rgba(68, 77, 136, 0.2);
}

/* Styling for expanded image overlay */
.expand-image {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

/* Styling for images within the expanded image overlay */
.expand-image img {
    width: 90%;
    max-width: 500px;
}

/* Styling for close button within the expanded image overlay */
.expand-image span {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 40px;
    color: white;
    cursor: pointer;
}
